// /////////////////////////////////////////////// //
// ////////////////  TEMPLATE  /////////////////// //
// =============================================== //

// =============================================== //
// ////////////////  TEMPLATE END  /////////////// //
// /////////////////////////////////////////////// //

// /////////////////////////////////////////////// //
// ////////////////  BASICS  ///////////////////// //
// =============================================== //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// DEFENITION OF 1rem
html {
  /* 1rem = 10px. This logic makes it easy to convert all
    font-sizes to rem units.*/

  /* Default font-size of a brouser is 16px. 
    So, in order to keep the root font-sise equal to 10px
    in dependance of default browser settings,
    we calculate it in percentages: 10/16*100 = 62.5%.
    This approach will make it possible for a user to adjust
    default browser settings to his needs. */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}
// =============================================== //
// ////////////////  BASICS END  ///////////////// //
// /////////////////////////////////////////////// //
// *********************************************** //
// /////////////////////////////////////////////// //
// ///////////////  TYPOGRAPHY  ////////////////// //
// =============================================== //
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-text);
}

.h1-subhead {
  color: var(--color-text-gray);
}

@media (min-width: 0) {
  .h1 {
    font-size: var(--fs-20);
    line-height: 1.4;
  }

  .h2 {
    font-size: var(--fs-18);
    font-weight: 500;
  }

  .h3 {
    font-size: var(--fs-16);
  }

  .h4 {
    font-size: var(--fs-14);
  }

  .h5 {
    font-size: var(--fs-12);
  }

  .h6 {
    font-size: var(--fs-10);
  }

  .h1-subhead {
    font-size: var(--fs-14);
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}

@media (min-width: 425px) {
  .h1 {
    font-size: var(--fs-24);
    letter-spacing: -0.5px;
    font-weight: 800;
  }

  .h2 {
    font-size: var(--fs-20);
  }

  .h3 {
    font-size: var(--fs-18);
  }

  .h4 {
    font-size: var(--fs-16);
  }

  .h5 {
    font-size: var(--fs-14);
  }

  .h6 {
    font-size: var(--fs-12);
  }

  .h1-subhead {
    font-size: var(--fs-18);
    line-height: 1.6;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: var(--fs-36);
    line-height: 1.05;
  }

  .h2 {
    font-size: var(--fs-30);
  }

  .h3 {
    font-size: var(--fs-24);
  }

  .h4 {
    font-size: var(--fs-18);
  }

  .h5 {
    font-size: var(--fs-16);
  }

  .h6 {
    font-size: var(--fs-14);
  }

  .h1-subhead {
    line-height: 1.8;
  }
}

@media (min-width: 1024px) {
  .h1 {
    font-size: var(--fs-44);
    font-weight: 600;
  }

  .h2 {
    font-size: var(--fs-36);
  }

  .h3 {
    font-size: var(--fs-30);
  }

  .h4 {
    font-size: var(--fs-24);
  }

  .h5 {
    font-size: var(--fs-20);
  }

  .h6 {
    font-size: var(--fs-18);
  }
}

@media (min-width: 1200px) {
  .h1 {
    font-weight: 700;
  }
}

// =============================================== //
// ///////////////  TYPOGRAPHY END  ////////////// //
// /////////////////////////////////////////////// //
// *********************************************** //
// /////////////////////////////////////////////// //
// //////////////  COMPONENTS  /////////////////// //
// =============================================== //
// BUTTONS
.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
// BUTTONS END
// =============================================== //
// //////////////  COMPONENTS END  /////////////// //
// /////////////////////////////////////////////// //
// *********************************************** //
// /////////////////////////////////////////////// //
// /////////////////  HELPERS  /////////////////// //
// =============================================== //
.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-col {
  display: flex !important;
  flex-direction: column;
}

.row-stretch {
  align-items: stretch !important;
}
.row-center {
  justify-content: center !important;
}
.row-between {
  justify-content: space-between !important;
}
.row-around {
  justify-content: space-around !important;
}
.row-evenly {
  justify-content: space-evenly !important;
}
.row-left {
  justify-content: flex-start !important;
}
.row-right {
  justify-content: flex-end !important;
}
.col-top {
  align-self: top !important;
}
.col-bottom {
  align-self: bottom !important;
}
.col-right {
  align-self: flex-end !important;
}
.col-left {
  align-self: flex-start !important;
}

// =============================================== //
// ////////////////// HELPERS END  /////////////// //
// /////////////////////////////////////////////// //
// *********************************************** //
// /////////////////////////////////////////////// //
// /////////////////  MIXINS  //////////////////// //
// =============================================== //
@mixin center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin img-round {
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@mixin row-space-btwn {
  justify-content: space-between;
  align-items: center;
}

// =============================================== //
// /////////////////  MIXINS END ///////////////// //
// /////////////////////////////////////////////// //
