.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: block;
  overflow: hidden;
}

@media only screen and (min-width: 0) {
  .container {
    max-width: 97%;
  }

  .row,
  .flex-col {
    padding: 0 var(--s-24);
  }
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 98%;
  }

  .row,
  .flex-col {
    padding: 0 var(--s-48);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 95%;
  }

  .row,
  .flex-col {
    padding: 0 var(--s-64);
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 130rem;
  }
}

// @media only screen and (min-width: 1240px) {}
