@mixin flex-center {
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  @include flex-center();
}

.col {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  @include flex-center();
}

.box {
  display: block;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .row,
  .flex-col {
    padding: 0 var(--s-24);
  }
}

// @media only screen and (min-width: 425px) {}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

// @media only screen and (min-width: 1240px) {}
