.container {
  max-width: 85%;

  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: block;
  overflow: hidden;
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 75%;
  }
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 83%;
  }
}

// @media only screen and (min-width: 1240px) {
//   .container {
//     max-width: 130rem;
//   }
// }

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 130rem;
  }
}
