:root {
  // SPACERS
  --s-2: 0.2rem;
  --s-4: 0.4rem;
  --s-8: 0.8rem;
  --s-12: 1.2rem;
  --s-16: 1.6rem;
  --s-24: 2.4rem;
  --s-32: 3.2rem;
  --s-48: 4.8rem;
  --s-64: 6.4rem;
  --s-80: 8rem;
  --s-96: 9.6rem;
  --s-128: 12.8rem;
  --s-144: 14.4rem;
  --s-160: 16rem;
  --s-176: 17.6rem;
  --s-192: 19.2rem;

  // FONT SIZES
  --fs-10: 1rem;
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;
  --fs-30: 3rem;
  --fs-36: 3.6rem;
  --fs-44: 4.4rem;
  --fs-52: 5.2rem;
  --fs-62: 6.2rem;
  --fs-74: 7.4rem;
  --fs-86: 8.6rem;
  --fs-98: 9.8rem;

  // COLOR  PALETTE
  --color-main-bg: #fdf2e9;
  --color-text: #333;
  --color-text-gray: #555;
  --color-text-light: #777;
  --color-btn-form: #45260a;
  --color-accent: #e67e22;
  --color-accent-dark: #cf711f;
  --color-animate-before: #fdf2e9;
  --color-animate-after: #fae5d3;
  --color-tag-vegetarian: #51cf66;
  --color-tag-vegan: #94d82d;
  --color-tag-paleo: #ffd43b;
}

@import "base";
@import "layout";
@import "typography";
@import "./components/navbar";
@import "./components/card";
@import "./components/buttons";
@import "./sections/header";
@import "./sections/featured-in";
@import "./sections/how-it-works";
@import "./sections/testimonials";
@import "./sections/meals";
@import "./sections/cta";
@import "./sections/submit";
@import "./sections/footer";
