.featured-in {
  &__h6 {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-gray);
  }

  &__img-box {
    display: flex;
    justify-content: center;
  }

  &__img {
    filter: brightness(0);
    -webkit-filter: brightness(0);
    opacity: 0.5;
  }
}

@media only screen and (min-width: 0) {
  .featured-in {
    margin-top: var(--s-24);

    &__logo-box {
      margin-top: var(--s-16);
    }

    &__img {
      height: 0.9rem;
    }
  }
}

@media only screen and (min-width: 425px) {
  .featured-in {
    margin-top: var(--s-32);

    &__logo-box {
      margin-top: var(--s-24);
    }

    &__img {
      height: 1rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  .featured-in {
    &__img {
      height: 1.6rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .featured-in {
    margin-top: var(--s-48);

    &__logo-box {
      margin-top: var(--s-32);
    }

    &__img {
      height: 1.9rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .featured-in {
    &__img {
      height: 2.4rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .featured-in {
    margin-top: var(--s-64);

    &__logo-box {
      margin-top: var(--s-48);
    }

    &__img {
      height: 3rem;
    }
  }
}
