.meals {
  margin-top: var(--s-96);

  &__cards {
    display: grid;
    gap: var(--s-48);
    margin-top: var(--s-48);
  }

  &__card {
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 8%);

    &--3 {
      box-shadow: none;
      padding-left: var(--s-32);
    }

    &-img {
      width: 100%;
    }

    &-body {
      margin-top: var(--s-32);
      padding: 0 10%;
    }

    &-tag {
      display: inline-block;
      text-transform: uppercase;
      font-size: var(--fs-12);
      font-weight: 500;
      padding: var(--s-4) var(--s-8);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      &:not(:last-of-type) {
        margin-right: var(--s-12);
      }

      &--vegetarian {
        background-color: var(--color-tag-vegetarian);
      }

      &--vegan {
        background-color: var(--color-tag-vegan);
      }

      &--paleo {
        background-color: var(--color-tag-paleo);
      }
    }

    &-title:not(:last-child) {
      margin-top: var(--s-12);
    }

    &-title--3 {
      text-align: center;
    }
  }

  &__list {
    &-item {
      font-size: var(--fs-16);
      display: flex;
      align-items: center;
    }
  }

  @media only screen and (min-width: 425px) {
    &__card {
      margin: auto 5%;
      padding-left: 0;
    }

    &__card-box-3 {
      display: flex;
      justify-content: center;
    }
  }

  @media only screen and (min-width: 640px) {
    margin-top: var(--s-128);

    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--s-32);
    }

    &__card {
      padding-bottom: var(--s-24);
    }

    &__card-box {
      &-3 {
        grid-column: 1 / -1;
        margin-top: var(--s-48);
      }
    }

    &__card {
      margin: auto;

      &-title:not(:last-child) {
        margin-top: var(--s-16);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr) 0.8fr;
      gap: var(--s-16);
    }

    &__card-box {
      &-3 {
        grid-column: 3;
        margin-top: 0;
      }
    }

    &__card {
      padding-bottom: var(--s-16);
    }
  }

  @media only screen and (min-width: 1024px) {
    margin-top: var(--s-144);
  }

  @media only screen and (min-width: 1200px) {
    margin-top: var(--s-160);

    &__cards {
      gap: var(--s-32);
    }
  }

  @media only screen and (min-width: 1440px) {
    &__cards {
      margin-top: var(--s-64);
      gap: var(--s-96);
    }
    &__list {
      gap: var(--s-32);

      &-item {
        padding-left: var(--s-80);
      }
    }
  }
}
