.meals {
  margin-top: var(--s-96);

  &__cards {
    gap: var(--s-48);
    margin-top: var(--s-48);
  }

  &__card {
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 8%);

    &--3 {
      box-shadow: none;
      padding-left: var(--s-32);
    }

    &-img {
      width: 100%;
    }

    &-body {
      margin-top: var(--s-32);
      padding: 0 var(--s-32);
    }

    &-tag {
      display: inline-block;
      text-transform: uppercase;
      font-size: var(--fs-12);
      font-weight: 500;
      padding: var(--s-4) var(--s-8);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      &:not(:last-of-type) {
        margin-right: var(--s-12);
      }

      &--vegetarian {
        background-color: var(--color-tag-vegetarian);
      }

      &--vegan {
        background-color: var(--color-tag-vegan);
      }

      &--paleo {
        background-color: var(--color-tag-paleo);
      }
    }

    &-title {
      margin-top: var(--s-12);
    }
  }

  &__list {
    &-item {
      font-size: var(--fs-16);
      display: flex;
      align-items: center;
    }
  }

  @media only screen and (min-width: 425px) {
    &__card-box-3 {
      display: flex;
    }
  }

  @media only screen and (min-width: 640px) {
    margin-top: var(--s-128);

    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--s-16);
    }

    &__card-box {
      &-1,
      &-2,
      &-3 {
        flex: 0;
        width: 48%;
      }

      &-3 {
        margin-top: var(--s-48);
      }
    }

    .card--3 {
      &__title {
        text-align: center;
      }
    }

    &__list {
      padding-left: var(--s-16);
    }
  }

  @media only screen and (min-width: 768px) {
    &__list {
      padding-left: var(--s-32);
    }
  }

  @media only screen and (min-width: 1024px) {
    margin-top: var(--s-144);

    &__cards {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__card-box {
      &-1,
      &-2,
      &-3 {
        flex: 1;
        width: 30%;
      }

      &-3 {
        margin-top: 0;
        align-items: start;
      }
    }

    &__list {
      gap: var(--s-24);
      &-item {
        padding-left: var(--s-32);
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    margin-top: var(--s-160);

    &__list {
      &-item {
        padding-left: var(--s-64);
        font-size: var(--fs-18);
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    &__list {
      gap: var(--s-32);

      &-item {
        padding-left: var(--s-80);
      }
    }
  }
}
