.testimonials {
  margin-top: var(--s-64);
  background-color: var(--color-main-bg);

  &__inner {
    margin: 0 auto;
    padding-top: var(--s-64);
    width: 95vw;
    display: grid;
    padding-bottom: var(--s-8);
  }

  &__left {
    padding: 0 var(--s-16);
    display: grid;
  }

  &__h2 {
    margin-top: var(--s-16);
  }

  &__h6 {
    color: var(--color-accent);
  }

  @media only screen and (min-width: 425px) {
    &__inner {
      width: 98vw;
    }

    &__left {
      padding: 0 var(--s-24);
    }
  }

  @media only screen and (min-width: 640px) {
    &__left {
      grid-template-columns: repeat(2, 1fr);
      -moz-column-gap: var(--s-64);
      column-gap: var(--s-64);
    }

    &__header {
      grid-column: 1 / -1;
    }
  }

  @media only screen and (min-width: 768px) {
    &__left {
      -moz-column-gap: var(--s-80);
      column-gap: var(--s-80);
    }
  }

  @media only screen and (min-width: 1024px) {
    &__inner {
      grid-template-columns: 1.2fr 0.8fr;
      padding: var(--s-12) 0;
    }

    &__left {
      align-content: center;
      row-gap: var(--s-48);
    }
  }

  @media only screen and (min-width: 1200px) {
    &__left {
      padding-left: var(--s-24);
    }
  }

  @media only screen and (min-width: 1440px) {
    &__inner {
      padding-top: var(--s-16);
      padding-bottom: var(--s-16);
    }

    &__left {
      row-gap: var(--s-64);
    }
  }
}

// TESTIMONIAL
.testimonial {
  margin-top: var(--s-64);

  &:not(:first-of-type) {
    margin-top: var(--s-80);
  }

  &__img {
    height: var(--fs-128);
    @include img-round;
    margin: 0 auto;
  }

  &__text {
    margin-top: var(--s-12);
    font-size: var(--fs-16);
    line-height: 1.8;
    color: var(--color-text-gray);
  }

  &__name {
    margin-top: var(--s-8);
    font-size: var(--fs-16);
    color: var(--color-text-light);
  }

  @media only screen and (min-width: 768px) {
    &__img {
      height: var(--fs-86);
    }
  }

  @media only screen and (min-width: 1024px) {
    &:not(:first-child) {
      margin-top: 0;
    }

    &__img {
      height: var(--fs-98);
    }

    &__text,
    &__name {
      margin-top: var(--s-16);
      font-size: var(--fs-16);
      // line-height: 1.8;
    }
  }
}

// GALLERY
.gallery {
  margin-top: var(--s-64);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--s-8);

  &__item {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
  }

  @media only screen and (min-width: 425px) {
    grid-template-columns: repeat(4, 1fr);
    margin: var(--s-64) auto 0;
    padding: 0 var(--s-8) var(--s-8);
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    align-items: center;
  }

  @media only screen and (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
