.card {
  // basic styles for all cards
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  // common styles for card lists
  &__list {
    margin-top: var(--s-24);
    padding-bottom: var(--s-24);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--s-32);

    &-item {
      font-size: var(--fs-16);
      display: flex;
      align-items: center;
      gap: var(--s-12);
    }

    &-icon {
      height: var(--fs-24);
      width: var(--fs-24);
      color: var(--color-accent);
    }

    &--meals-3 {
      gap: var(--s-16);
    }

    &--pricing {
      justify-content: center;
      gap: var(--s-16);
      margin-top: var(--s-32);
    }
  }

  // @media only screen and (min-width: 425px) {
  // }

  @media only screen and (min-width: 640px) {
    &__list {
      &--meals-3 {
        padding-left: var(--s-16);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    &__list {
      margin-top: var(--s-24);
    }
  }

  @media only screen and (min-width: 1024px) {
    &__list {
      margin-top: var(--s-32);

      &--meals-3 {
        gap: var(--s-24);
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    &__list {
      &--meals-1,
      &--meals-2 {
        gap: var(--s-24);
      }

      &-item {
        font-size: var(--fs-18);
      }
    }
  }
}
